.container-fluid {
margin: 0 auto;
padding: 0;
width: 100%;
overflow-x: hidden;
overflow-y: hidden;
}

@for $i from 1 through 12 {
.col-xs-#{$i} {
  margin: 0;
  padding: 0;
}
.col-sm-#{$i} {
  margin: 0;
  padding: 0;
}
.col-md-#{$i} {
  margin: 0;
  padding: 0;
}
}

.row {
margin: 0;
padding: 0;
}

.col-height {
height: 100%;
margin-top: 0;
margin-bottom: 0;
}

.h100 {
height: 100%;
}

.h50 {
height: 50%;
}

.inner1 {
padding-bottom: 3px;
}

.inner2 {
padding: 3px 3px 3px 0;
}

.inner3 {
padding: 3px 0 3px 3px;
}

.inner4 {
padding: 3px;
}

.paddingMobile {
@media (max-width: 480px) {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
}

.positionCenter {
left: 0;
top: 0;
bottom: 0;
right: 0;
margin: auto;
position: absolute;
}

.hide {
display: none;
}

.col75 {
width: 62.5%;
/*@media (max-width: 768px) {
  width: 100%;
}*/
}

.col45 {
width: 37.5%;
/*@media (max-width: 768px) {
  width: 100%;
}*/
}

@media (max-width: 480px) {
  .col-xxs {
    display: block;
    float: none;
    width: 100%
  }
}

html {
  @media (min-width: 992px) {
    display: table;
    margin: auto;
    height: 100%;
  }

  body {
    overflow-x: hidden;
    @media (min-width: 992px) {
      width: 992px;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
    }

    nav {
      margin: 0 auto;
      border-bottom: solid 2px #e7e7e7;
      height: 70px;

      .logo {
        position: absolute;
        transform: translate(-50%, 0%);
        top: 0;
        left: 50%;
        z-index: 100;
      }

      .menubar {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 95%;
      }
    }

    .rozwijaneMenu {
      height: 277px;
      background-image: url("../img/menu/Tlo.png");
      .liniaMenu {
        position: absolute;
        right: 0;
        top: 56px;
        @media (max-width: 480px) {
          transform: rotate(90deg);
          right: 50%;
        }
      }
      .menuLeft {
        img {
          position: absolute;
          transform: translate(-50%, 56px);
          top: 0;
          left: 55%;
          @media (max-width: 480px) {
            transform: translate(-50%, 60%);
            left: 50%;
          }
        }
        table {
          width: 70%;
          position: absolute;
          transform: translate(-30px, 113px);
          top: 0;
          right: 0;
          @media (max-width: 480px) {
            transform: translate(-50%, 90%);
            left: 50%;
          }
          td {
            font-size: 11px;
            padding: 4px;
            text-align: center;
          }
        }
      }

      .menuRight {
        img {
          position: absolute;
          transform: translate(-50%, 56px);
          top: 0;
          left: 40%;
          @media (max-width: 480px) {
            transform: translate(-50%, 40%);
            left: 50%;
          }
        }
        table {
          width: 70%;
          position: absolute;
          transform: translate(25px, 113px);
          top: 0;
          left: 0;
          @media (max-width: 480px) {
            transform: translate(-50%, 80%);
            left: 50%;
          }
          td {
            font-size: 11px;
            padding: 4px;
            text-align: center;
          }
        }
      }
    }

    /* -----------------------GLOWNA------------------------ */

    .sec_line {
      .ofirmie {
        height: 269px;

        .ofirmieIn {
          background-image: url("../img/ofirmie.png");
          background-size: cover;
          height: 100%;

          .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }

          img {
            padding-left: 17px;
            padding-bottom: 18px;
            vertical-align: bottom;
          }
        }
      }

      .misjafirmy {
        height: 269px;

        .misjafirmyIn {
          height: 100%;
          text-align: center;

          .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
          }

          img {
            vertical-align: middle;
          }
        }
      }
    }

    .hconst {
      height: 490px;
    }

    .h50 {
      height: 50%;
    }

    .inner2 {
      height: 100%;

      .produkty {
        img:nth-child(1) {
          padding-left: 16px;
          padding-top: 17px;
          vertical-align: top;
          left: 0;
        }

        img:nth-child(2) {
          position: absolute;
          transform: translate(0, 71px);
          left: 17px;
        }

        p {
          font-size: 14px;
          color: #706f6f;
          text-transform: uppercase;
          position: absolute;
          transform: translate(87px, 94px);
          right: 315px;
          top: 0;
          left: 0;
          z-index: 1;
          @media (max-width: 500px) {
            display: none;
          }
        }

        img:nth-child(4) {
          position: absolute;
          transform: translate(0, 0);
          right: 1%;
          z-index: -1;
        }
      }
    }

    .inner2 {
      .kariera {
        background-image: url(../img/kariera_tlo.png);
        background-size: cover;
        height: 100%;

        img {
          padding-left: 18px;
          padding-top: 17px;
          vertical-align: top;
          left: 0;
        }

        .kariera_text {
          color: white;
          font-family: Verdana, sans-serif;
          padding-left: 18px;
          padding-right: 78px;
          padding-bottom: 8px;

          h4 {
            font-size: 14px;
            margin: 8px 0 3px 0;

            &:first-of-type {
              margin-top: 34px;
            }
          }

          p {
            font-size: 10px;
          }
        }
      }
    }

    .inner4 {
      padding: 3px;

      .aktualnosci {
        background-color: #e7e7e7;
        height: 100%;
        padding-left: 13px;
        color: #706f6f;

        img {
          padding-top: 15px;
        }

        h4 {
          font-size: 15px;
          padding-right: 16px;

          &:first-of-type {
            margin-top: 32px;
          }
        }

        p {
          font-size: 11px;
          padding-right: 16px;
        }
      }
    }

    .inner4 {
      .post {
        transform: translate(0px, 20px);
        z-index: -100;
      }
    }

    a {
      text-decoration: none;

      .inner5 {
        height: 99%;
        margin: 3px 0 3px 3px;
        border: 6px solid #e7e7e7;
        @media (max-width: 992px) {
          margin: 3px 3px 3px 0;
        }

        img:first-of-type {
          padding-top: 10px;
          padding-left: 11px;
        }

        h4 {
          font-size: 15px;
          padding-left: 11px;
          color: #706f6f;
          margin-top: 24px;
          margin-bottom: 0;
        }

        p {
          font-size: 11px;
          padding-left: 11px;
          color: #706f6f;
        }

        .nagroda {
          position: absolute;
          transform: translate(-3px, 110px);
          z-index: -100;
          top: 0;
          right: 0
        }
      }
    }

    .hconst2 {
      height: 241px;
    }

    .movie {
      height: 241px;
      width: 406px;
      @media (max-width: 992px) {
        position: absolute;
        transform: translate(-50%, 0);
        left: 50%;
      }
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    iframe {
      height: 100%;
      @media (max-width: 480px) {
        width: 100%;
      }
    }

    .inner3 {
      height: 100%;
      .historia {
        height: 241px;
        background-image: url("../img/Historia_tlo.png");
        @media (max-width: 992px) {
          margin-top: 3px;
        }
        p {
          color: #ffffff;
          font-size: 11px;
          text-align: center;
          margin: 0 32px 0 32px;
        }
        .p1His {
          margin-left: 10px;
          top: 0;
          left: 0;
          position: absolute;
          transform: translate(0, 151px);
        }
        .p2His {
          top: 0;
          left: 0;
          position: absolute;
          transform: translate(0, 126px);
        }
        .p3His {
          top: 0;
          left: 0;
          position: absolute;
          transform: translate(0, 60px);
        }

        .historiaLogo {
          padding-top: 14px;
          padding-left: 18px;
        }

        .r92 {
          left: 0;
          top: 0;
          position: absolute;
          transform: translate(17px, 84px);
          @media (max-width: 768px) {
            width: 55%;
          }
        }

        .s1 {
          left: 50%;
          top: 0;
          position: absolute;
          transform: translate(80%, 82px);
          @media (max-width: 480px) {
            width: 35%;
          }
        }

        .r95 {
          left: 50%;
          top: 0;
          position: absolute;
          transform: translate(-50%, 61px);
          @media (max-width: 768px) {
            width: 55%;
          }
        }

        .s2 {
          left: 50%;
          top: 0;
          position: absolute;
          transform: translate(10%, 13px);
          @media (max-width: 480px) {
            width: 55%;
          }
        }

        .r01 {
          left: 50%;
          top: 0;
          position: absolute;
          transform: translate(-50%, 0px);
          @media (max-width: 768px) {
            width: 55%;
          }
        }
      }
    }

    /* --------------------KONIEC glowna---------------------*/

    /* ---------------------O FIRMIE------------------------ */

    .inner1 {
      .oFirmieTitle {
        height: 372px;
        background-image: url("../img/ofirmie/zdjecie_top.png");
        img {
          @media (max-width: 480px) {
            width: 90%;
          }
        }
      }
    }

    .segment1 {
      .oFirmieOrange {
        height: 411px;
        background-image: url("../img/ofirmie/tlo_pomaranczowe.png");
        img {
          position: absolute;
          transform: translate(79px, 128px);
          left: 0;
          top: 0;
          @media (max-width: 480px) {
            transform: translate(-50%, 128px);
            left: 50%;
            width: 90%;
          }
        }
        p {
          position: absolute;
          transform: translate(79px, 261px);
          left: 0;
          top: 0;
          right: 158px;
          font-size: 11px;
          color: #ffffff;
          @media (max-width: 480px) {
            transform: translate(-50%, 261px);
            left: 50%;
            width: 90%;
          }
        }
      }

      .oFirmieSerce {
        height: 411px;
        img {
          position: absolute;
          transform: translate(-50%, 65px);
          left: 50%;
          top: 0;
        }
        p {
          position: absolute;
          transform: translate(18px, 302px);
          left: 0;
          top: 0;
          right: 32px;
          font-size: 16px;
          text-align: center;
          color: #706f6f;
        }
      }
    }

    .segment2 {
      .oFirmieBiuro {
        height: 411px;
        background-image: url("../img/ofirmie/zdjecie_biuro.png");
        @media (max-width: 768px) and (min-width: 481px) {
          width: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          height: 0;
          padding-top: calc(410 / 670 * 100%);
          /*padding-top: calc(410 / 370 * 100%); (img-height / img-width * container-width) */
        }
        @media (max-width: 480px) {
          background-size: cover;
        }
      }

      .oFirmieOpis {
        height: 411px;
        background-image: url("../img/ofirmie/tlo_szare.png");
        @media (max-width: 768px) {
          background-size: cover;
        }

        img {
          position: absolute;
          transform: translate(91px, 91px);
          left: 0;
          top: 0;
          @media (max-width: 480px) {
            transform: translate(-50%, 91px);
            left: 50%;
            width: 90%;
          }
        }
        div {
          position: absolute;
          transform: translate(92px, 146px);
          left: 0;
          top: 0;
          right: 158px;
          @media (max-width: 480px) {
            transform: translate(-50%, 146px);
            left: 50%;
            width: 90%;
          }
          p {
            font-size: 11px;
            color: #706f6f;
          }
        }
      }
    }

    .segment3 {
      .oFirmieYears {
        h3 {
          position: absolute;
          transform: translate(15px, 325px);
          left: 0;
          top: 0;
          margin-top: 0;
          color: #7d4835;
          @media (max-width: 992px) {
            transform: translate(15px, 300px);
          }
          @media (max-width: 768px) {
            padding-top: 25%;
          }
          @media (max-width: 480px) {
            padding-top: 0;
            transform: translate(15px, 280px);
          }
        }

        p {
          position: absolute;
          transform: translate(14px, 369px);
          left: 0;
          top: 0;
          right: 27px;
          font-size: 14px;
          color: #706f6f;
          @media (max-width: 992px) {
            transform: translate(15px, 340px);
          }
          @media (max-width: 768px) {
            padding-top: 20%;
            font-size: 13px;
          }
          @media (max-width: 480px) {
            transform: translate(15px, 340px);
            font-size: 12px;
            padding-top: 0;
          }
        }

        img:nth-child(2) {
          /*position: absolute;
          transform: translate(0px, 78px);
          left: 0;
          top: 0;*/
          width: 100%;
          margin-top: 72px;
          padding-bottom: calc(215 / 242 * 100%);
        }

        .pad-right {
          padding-right: 5px;
          .oFirmie1992 {
            height: 468px;
            padding: 3.5px;
            background-image: url("../img/ofirmie/tlo_v1.png");

            img:first-of-type {
              position: absolute;
              transform: translate(13px, 17px);
              left: 0;
              top: 0;
            }
          }
        }

        .pad95Mobile {
          @media (max-width: 768px) {
            padding: 3px 0 3px 3px;
          }
          .oFirmie1995 {
            height: 468px;
            padding: 3.5px;
            background-image: url("../img/ofirmie/tlo_v2.png");

            img:first-of-type {
              position: absolute;
              transform: translate(13px, 17px);
              left: 0;
              top: 0;
            }
          }
        }

        .pad97Mobile {
          @media (max-width: 768px) {
            padding: 3px 3px 3px 0;
          }
          .oFirmie1997 {
            height: 468px;
            padding: 3.5px;
            background-image: url("../img/ofirmie/tlo_v1.png");

            img:first-of-type {
              position: absolute;
              transform: translate(13px, 17px);
              left: 0;
              top: 0;
            }
          }
        }

        .pad-left {
          padding-left: 5px;

          .oFirmie2000 {
            height: 468px;
            padding: 3.5px;
            background-image: url("../img/ofirmie/tlo_v2.png");

            img:first-of-type {
              position: absolute;
              transform: translate(13px, 17px);
              left: 0;
              top: 0;
            }
          }
        }
      }
    }

    .certyfikat {
      height: 633px;
      @media (max-width: 480px) {
        height: 696px;
      }

      .cert1 {
        position: absolute;
        transform: translate(-50%, 54px);
        left: 50%;
        top: 0;
        @media (max-width: 480px) {
          width: 95%;
        }
      }
      .cert2 {
        position: absolute;
        transform: translate(-50%, 117px);
        left: 50%;
        top: 0;
      }
      .certText {
        position: absolute;
        transform: translate(90px, 251px);
        left: 0;
        top: 0;
        right: 195px;
        color: #706f6f;
        .colorFormat {
          color: #7d4835;
        }
        @media (max-width: 774px) {
          width: 95%;
          transform: translate(-50%, 251px);
          left: 50%;
        }
        @media (max-width: 620px) {
          font-size: 12px;
        }
        @media (max-width: 480px) {
          font-size: 11px;
          transform: translate(-50%, 225px);
        }
      }
      .fsscCert {
        img {
          position: absolute;
          transform: translate(-50%, 500px);
          left: 50%;
          top: 0;
          @media (max-width: 768px) {
            width: 90%;
          }
          @media (max-width: 480px) {
            transform: translate(-50%, 515px);
          }
        }
      }
      .ciaaCert {
        img {
          position: absolute;
          transform: translate(-50%, 494px);
          left: 50%;
          top: 0;
          @media (max-width: 480px) {
            transform: translate(-50%, 650%);
          }
        }
      }
    }

    /* ------------------KONIEC o firmie---------------------*/

    /* -------------------MISJA FIRMY----------------------- */

    .misja {
      height: 311px;
    }

    .segment1 {
      .misjaSilosy {
        background-image: url("../img/misja/Foto_silosy.png");
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 0;
        padding-top: calc(411 / 618 * 100%); /* (img-height / img-width * container-width) */
      }
      .misjaOpis {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 0;
        padding-top: calc(411 / 368 * 100%);
        @media (max-width: 480px) {
          padding-top: calc(250 / 368 * 100%);
        }
        img {
          position: absolute;
          transform: translate(-32px, -50%);
          right: 0;
          top: 50%;
          max-width: 100%;
          width: auto;
          height: auto;
          @media (max-width: 480px) {
            width: 90%;
            transform: translate(-50%, -50%);
            left: 50%;
          }
        }
      }
    }

    .segment2 {
      .misjaSeg2 {
        width: 100%;
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        height: 0;
        padding-top: calc(411 / 618 * 100%); /* (img-height / img-width * container-width) */

        .misjaOpis2 {
          img {
            position: absolute;
            transform: translate(79px, 92px);
            left: 0;
            top: 0;
            @media (max-width: 900px) {
              transform: translate(45px, 40px);
            }
            @media (max-width: 768px) {
              width: 80%;
            }
            @media (max-width: 480px) {
              transform: translate(-50%, 0);
              left: 50%;
            }
          }
          div {
            position: absolute;
            transform: translate(79px, 154px);
            left: 0;
            top: 0;
            right: 133px;
            font-size: 11px;
            @media (max-width: 900px) {
              transform: translate(45px, 100px);
              right: 103px;
              font-size: 1.2vw;
            }
            @media (max-width: 768px) {
              width: 90%;
              transform: translate(-50%, 50%);
              left: 50%;
              font-size: 1.3vw;
            }
            @media (max-width: 480px) {
              transform: translate(-50%, 35px);
              font-size: 1.35vh;
            }
          }
        }

      }

      .misjaBiuro {
        background-image: url("../img/misja/Foto_biuro.png");
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        height: 0;
        padding-top: calc(411 / 368 * 100%); /* (img-height / img-width * container-width) */
        @media (max-width: 480px) {
          padding-top: calc(300 / 368 * 100%);
          background-position: center;
        }
      }
    }

    .segment3 {
      .inner7 {
        padding: 3px 0 3px 0;
        .dziekujemy {
          width: 100%;
          background-image: url("../img/misja/Foto_tasma.png");
          background-size: contain;
          background-repeat: no-repeat;
          height: 0;
          padding-top: calc(562 / 992 * 100%); /* (img-height / img-width * container-width) */
          div {
            max-height: 167px;
            max-width: 433px;
            img {
              width: auto;
              height: auto;
              position: absolute;
              transform: translate(-35px, 55px);
              right: 0;
              top: 0;
              @media (max-width: 768px) {
                width: 50%;
                transform: translate(-5%, 40%);
              }
            }
          }
        }
      }
    }

    /* ------------------KONIEC misja firmy------------------*/

    /* -----------------------PRODUKTY---------------------- */

    .top {
      .produkty {
        height: 269px;
        background-image: url("../img/produkty/Zdjecie_top.png");

        img {
          position: absolute;
          transform: translate(-50%, 64px);
          left: 50%;
          top: 0;
        }

        .produktyText {
          padding-top: 158px;
          p {
            color: white;
            margin: 0;
            font-size: 11px;
            text-align: center;
          }
        }
      }
    }

    .segment1 {
      .col75 {
        @media (max-width: 768px) {
          width: 100%;
        }
        .pierogi {
          background-image: url("../img/produkty/Tlo_pierogi.png");
          height: 269px;
          @media (max-width: 768px) and (min-width: 480px) {
            background-size: cover;
          }

          .pierogiPack {
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(48px, -35px);
            @media (max-width: 992px) {
              width: 70%;
            }
            @media (max-width: 480px) {
              transform: translate(35px, 35px);
            }
          }

          .pierogiLogo {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 64px);
            @media (max-width: 992px) {
              width: 80%;
            }
          }

          p {
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0 20px 0 20px;
            transform: translate(0, -29px);
            font-size: 11px;
            color: #706f6f;
          }
        }
      }

      .col45 {
        @media (max-width: 768px) {
          width: 100%;
        }
        .kubekNaRaz {
          background-image: url("../img/produkty/Tlo_kubek_na_raz.png");
          height: 269px;
          @media (max-width: 768px) and (min-width: 380px) {
            background-size: cover;
          }

          .kubekLogo {
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(26px, 29px);
          }

          .kubekPack {
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(116px, -31px);
            @media (max-width: 480px) {
              width: 60%;
            }
          }

          p {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 75px;
            transform: translate(42px, -31px);
            font-size: 11px;
            color: #ffffff;
          }
        }
      }
    }

    .segment2 {
      .krokiety {
        background-image: url("../img/produkty/Tlo_krokiety.png");
        height: 269px;

        .krokietyPack {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 25px);
        }

        .krokietyNazwa {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 78px);
          max-width: 100%;
          @media (max-width: 768px) and (min-width: 480px) {
            width: 90%;
          }
        }

        p {
          position: absolute;
          left: 0;
          top: 0;
          right: 50px;
          transform: translate(35px, 139px);
          font-size: 11px;
          color: #706f6f;
        }
      }

      .nalesniki {
        background-image: url("../img/produkty/Tlo_nalesniki.png");
        height: 269px;

        .nalesnikiNazwa {
          z-index: 1;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 71px);
          max-width: 100%;
          @media (max-width: 768px) and (min-width: 480px) {
            width: 90%;
          }
        }

        p {
          position: absolute;
          left: 0;
          top: 0;
          right: 50px;
          transform: translate(29px, 139px);
          font-size: 11px;
          color: #706f6f;
        }

        .nalesnikiPack {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 25px);
        }
      }
    }

    .segment3 {
      .virtus {
        background-image: url("../img/produkty/Tlo_virtus.png");
        height: 546px;
        @media (max-width: 768px) and (min-width: 480px) {
          background-size: cover;
        }

        img:first-of-type {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 33px);
          max-width: 100%;
        }

        img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 182px);
          max-width: 100%;
        }

        img:nth-child(3) {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(0px, -2px);
        }

        p {
          position: absolute;
          left: 0;
          top: 0;
          right: 221px;
          transform: translate(205px, 478px);
          font-size: 11px;
          color: #ffffff;
          @media (max-width: 992px) {
            transform: translate(200px, 460px);
          }
        }
      }

      .daniaGotowe {
        background-image: url("../img/produkty/Tlo_dania_gotowe.png");
        height: 269px;

        img:first-of-type {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 24px);
        }

        img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 211px);
          @media (max-width: 992px) {
            width: 100%;
            margin-top: 211px;
            padding-bottom: calc(21 / 188 * 100%);
            max-width: 188px;
            transform: translate(-50%, 0);
          }
        }
      }

      .kluski {
        background-image: url("../img/produkty/Tlo_kluski.png");
        height: 269px;

        img:first-of-type {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 26px);
        }

        img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 211px);
          @media (max-width: 992px) {
            width: 100%;
            margin-top: 211px;
            padding-bottom: calc(21 / 212 * 100%);
            max-width: 212px;
            transform: translate(-50%, 0);
          }
        }
      }

      .nowosci {
        background-image: url("../img/produkty/Tlo_nowosci.png");
        height: 270px;
        @media (max-width: 768px) and (min-width: 480px) {
          background-size: cover;
        }

        img:first-of-type {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 17px);
          @media (max-width: 480px) {
            width: 90%;
          }
        }

        img:nth-child(2) {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 160px);
          @media (max-width: 992px) {
            width: 100%;
            margin-top: 160px;
            padding-bottom: calc(41 / 400 * 100%);
            max-width: 400px;
            transform: translate(-50%, 0);
          }
        }

        img:nth-child(3) {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 123px);
        }
      }

      .pizza {
        background-image: url("../img/produkty/Tlo_pizza.png");
        height: 545px;

        img:first-of-type {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(148px, 44px);
          @media(max-width: 768px) and (min-width: 480px) {
            left: 60%;
            transform: translate(-50%, 44px);
          }
          @media (max-width: 480px) {
            width: 80%;
            transform: translate(70px, 44px);
          }
        }

        img:nth-child(2) {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(39px, 32px);
          @media (max-width: 480px) {
            width: 25%;
            transform: translate(19px, 32px);
          }
        }

        img:nth-child(3) {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(27px, 175px);
          @media (max-width: 480px) {
            width: 25%;
            transform: translate(7px, 175px);
          }
        }

        img:nth-child(4) {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(28px, 413px);
          max-width: 100%;
          @media (max-width: 480px) {
            transform: translate(-50%, 413px);
            left: 50%;
          }
        }

        p {
          position: absolute;
          left: 0;
          top: 0;
          right: 100px;
          transform: translate(30px, 485px);
          font-size: 11px;
          color: #706f6f;
        }
      }
    }

    /* -------------------KONIEC produkty------------------*/

    /* -----------------PRODUKT PIEROGI------------------- */

    .segment1 {
      .produkt {
        height: 605px;
        background-image: url("../img/pierogi/Tlo_produkt.png");
        width: 100%;
        @media (max-width: 768px) {
          background-size: contain;
          background-repeat: no-repeat;
          height: 0;
          padding-top: calc(605 / 992 * 100%); /* (img-height / img-width * container-width) */
        }

        .mobilePierogi {
          @media (max-width: 768px) {
            background-size: contain;
            background-repeat: no-repeat;
            /*height: 600px;*/
            padding-top: calc(605 / 992 * 100%); /* (img-height / img-width * container-width) */
          }
          @media (max-width: 480px) {
            height: 300px;
          }
        }

        .pierogiWiz {
          position: absolute;
          transform: translate(30px, 66px);
          top: 0;
          left: 0;
          @media (max-width: 768px) {
            width: 40%;
            left: 50%;
            transform: translate(-50%, -110%);
          }
        }

        .lezace {
          position: absolute;
          transform: translate(212px, 445px);
          top: 0;
          left: 0;
          @media (max-width: 768px) {
            width: 30%;
            left: 50%;
            transform: translate(0, -60%);
          }
        }

        .pierogiTitle {
          position: absolute;
          transform: translate(0, 95px);
          top: 0;
          left: 0;
          @media (max-width: 992px) {
            width: 80%;
          }
          @media (max-width: 768px) {
            width: 60%;
            left: 50%;
            transform: translate(-50%, 30%);
          }
        }

        .pikto1 {
          position: absolute;
          transform: translate(0, 239px);
          top: 0;
          left: 0;
          @media (max-width: 768px) {
            width: 50%;
            left: 50%;
            transform: translate(-50%, -180%);
          }
        }

        .pikto2 {
          position: absolute;
          transform: translate(-10%, 241px);
          top: 0;
          left: 0;
          @media (max-width: 768px) {
            width: 60%;
            left: 50%;
            transform: translate(-50%, -200%);
          }
        }

        .pikto3 {
          position: absolute;
          transform: translate(0, 239px);
          top: 0;
          left: 0;
          @media (max-width: 768px) {
            width: 60%;
            left: 50%;
            transform: translate(-50%, -200%);
          }
        }

        h3 {
          position: absolute;
          left: 0;
          top: 0;
          transform: translate(0, 424px);
          margin-top: 0;
          font-size: 20px;
          color: #7d4835;
          @media (max-width: 768px){
            bottom: 0;
            transform: translate(25%, 72%);
          }
          @media (max-width: 480px) {
            transform: translate(15%, 60%);
          }
        }

        p {
          position: absolute;
          left: 0;
          top: 0;
          right: 30px;
          transform: translate(0, 459px);
          font-size: 11px;
          color: #706f6f;
          @media (max-width: 768px) {
            bottom: 0;
            transform: translate(10%, 80%);
            right: 10%;
          }
          @media (max-width: 480px) {
            transform: translate(10%, 70%);
          }
        }
      }
    }

    .segment2 {
      .ilustracja {
        height: 763px;
        margin-top: 10px;
        background-image: url("../img/pierogi/Tlo_ilustracja.png");
        background-position: bottom;
        background-repeat: no-repeat;
        @media (max-width: 768px) {
          background-size: contain;
          height: 0;
          padding-top: calc(744 / 992 * 100%); /* (img-height / img-width * container-width) */
        }

        img:first-of-type {
          position: absolute;
          transform: translate(-50%, 0px);
          top: 0;
          left: 50%;
          @media (max-width: 768px) {
            width: 100%;
          }
        }

        img:nth-child(2) {
          position: absolute;
          transform: translate(159px, 136px);
          top: 0;
          left: 0;
          @media (max-width: 768px) {
            display: none;
          }
        }

        img:nth-child(3) {
          position: absolute;
          transform: translate(249px, 151px);
          top: 0;
          left: 0;
          @media (max-width: 768px) {
            display: none;
          }
        }

        img:nth-child(4) {
          position: absolute;
          transform: translate(-180%, -10%);
          bottom: 0;
          right: 0;
          @media (max-width: 480px) {
            width: 15%;
          }
        }

        img:nth-child(5) {
          position: absolute;
          transform: translate(-10%, -290%);
          right: 0;
          bottom: 0;
          @media (max-width: 480px) {
            width: 25%;
            transform: translate(-5%, -250%);
          }
        }

        img:nth-child(6) {
          position: absolute;
          bottom: 0;
          right: 0;
          @media (max-width: 480px) {
            width: 25%;
          }
        }
      }
    }

    /* ----------------KONIEC produkt pierogi----------------*/

    /* -------------------PRODUKT KUBEK--------------------- */

    .produktKubek {
      height: 519px;
      background-image: url("../img/kubek/Tlo_produkt.png");
      background-repeat: no-repeat;
      @media (max-width: 768px) {
        background-size: contain;
        height: 0;
        padding-top: calc(606 / 992 * 100%); /* (img-height / img-width * container-width) */
      }
      @media (max-width: 480px) {
        height: 650px;
      }

      .col-md-12 {

        .inner1 {
          img {
            position: absolute;
            transform: translate(24px, 59px);
            top: 0;
            left: 0;
            @media (max-width: 992px) {
              width: 90%;
            }
            @media (max-width: 768px) {
              width: 70%;
              left: 50%;
              transform: translate(-50%, -80%);
            }
          }
        }

        .mobileKubek {
          @media (max-width: 768px) {
            background-size: contain;
            background-repeat: no-repeat;
            /*height: 600px;*/
            padding-top: calc(605 / 992 * 100%); /* (img-height / img-width * container-width) */
          }
          @media (max-width: 480px) {
            height: 300px;
          }

          .inner2 {
            .kubLogo {
              position: absolute;
              transform: translate(0, 97px);
              top: 0;
              left: 0;
              @media (max-width: 480px) {
                width: 20%;
                transform: translate(10%, 30%);
              }
            }
            img:nth-child(2) {
              position: absolute;
              transform: translate(119px, 105px);
              top: 0;
              left: 0;
              @media (max-width: 992px) {
                width: 60%;
              }
              @media (max-width: 480px) {
                transform: translate(50%, 250%);
              }
            }
            img:nth-child(3) {
              position: absolute;
              transform: translate(117px, 148px);
              top: 0;
              left: 0;
              @media (max-width: 992px) {
                width: 60%;
              }
              @media (max-width: 480px) {
                transform: translate(50%, 180%);
              }
            }
            .kubekText {
              @media (max-width: 480px) {
                transform: translate(5%, 300%);
              }
              p {
                position: absolute;
                transform: translate(4px, 282px);
                top: 0;
                left: 0;
                right: 35px;
                font-size: 11px;
                @media (max-width: 480px) {
                  width: 90%;
                  transform: translate(4px, 10%);
                }
              }
            }

            .kubekPikto {
              @media (max-width: 480px) {
                transform: translate(0, 15%);
              }
              .prostoZKubka {
                position: absolute;
                transform: translate(-50%, 391px);
                top: 0;
                left: 50%;
                @media (max-width: 992px) {
                  width: 90%;
                }
              }
              .swieze {
                position: absolute;
                transform: translate(-50%, 393px);
                top: 0;
                left: 50%;
                @media (max-width: 992px) {
                  width: 90%;
                }
              }
              .gotoweMin {
                position: absolute;
                transform: translate(-50%, 392px);
                top: 0;
                left: 50%;
                @media (max-width: 992px) {
                  width: 90%;
                }
              }
            }
          }
        }
      }
    }

    .ilustracjaKubek {
      height: 747px;
      background-image: url("../img/kubek/Tlo_ilustracja.png");
      background-position: bottom;
      background-repeat: no-repeat;
      @media (max-width: 992px) {
        background-size: contain;
        width: 100%;
        height: 0;
        padding-top: calc(747 / 992 * 100%);
      }
      .col-md-12 {
        height: 100%;

        img {
          position: absolute;
          transform: translate(44px, -45px);
          top: 0;
          left: 0;
          @media (max-width: 992px) {
            transform: translate(44px, -250%);
          }
          @media (max-width: 768px) {
            width: 40%;
          }
          @media (max-width: 480px) {
            transform: translate(15%, -240%);
          }
        }
      }
    }

    .daneLogistyczne {
      height: 516px;
      background-color: #ffffff;

      .daneTitle {
        position: absolute;
        transform: translate(119px, 56px);
        top: 0;
        left: 0;
        @media (max-width: 520px) {
          width: 70%;
          left: 50%;
          transform: translate(-50%, 56px);
        }
      }

      .daneAll {
        padding: 162px 110px 0 119px;
        @media (max-width: 992px) {
          padding: 162px 50px 0 60px;
        }
        @media (max-width: 860px) {
          padding: 162px 0 0 0;
        }
      }

      .col-md-4 {
        height: 178px;
        @media (max-width: 768px) {
          height: 140px;
        }
        @media (max-width: 600px) and (min-width: 481px) {
          display: block;
          float: none;
          width: 100%;
        }

        .daneTabela {
          @media (max-width: 768px) and (min-width: 601px){
            height: 130px;
            transform: translate(15%, 0);
          }
          @media (max-width: 600px) {
            height: 130px;
            transform: translate(25%, 0);
          }
          @media (max-width: 480px) {
            height: 130px;
            transform: translate(15%, 0);
          }

          p:first-of-type {
            margin-bottom: 8px;
            font-size: 14px;
          }

          P {
            font-size: 12px;
          }

          img:nth-child(2) {
            vertical-align: top;
          }

          img:nth-child(3) {
            position: absolute;
            transform: translate(0, 68px);
            left: 0;
            top: 0;
          }

          img:nth-child(4) {
            position: absolute;
            transform: translate(7px, 32px);
            left: 0;
            top: 0;
          }

          p:nth-child(5) {
            position: absolute;
            transform: translate(11px, 76px);
            left: 0;
            top: 0;
          }

          img:nth-child(6) {
            position: absolute;
            transform: translate(76px, 42px);
            left: 0;
            top: 0;
          }

          p:nth-child(7) {
            position: absolute;
            transform: translate(65px, 76px);
            left: 0;
            top: 0;
          }

          img:nth-child(8) {
            position: absolute;
            transform: translate(176px, 42px);
            left: 0;
            top: 0;
          }

          p:nth-child(9) {
            position: absolute;
            transform: translate(139px, 76px);
            left: 0;
            top: 0;
          }
        }
      }
    }

    /* ----------------KONIEC produkt kubek------------------*/

    /* -----------------------NAGRODY----------------------- */

    .top {
      .nagrody {
        background: url("../img/nagrody/podium.png") bottom no-repeat;
        height: 371px;
        img {
          position: absolute;
          transform: translate(-50%, 77px);
          left: 50%;
          top: 0;
        }
      }
    }

    .segment1 {
      .nagrodyOrange {
        height: 411px;
        background: url("../img/nagrody/Tlo_segment1.png");
        img {
          position: absolute;
          transform: translate(69px, 128px);
          left: 0;
          top: 0;
          z-index: 1;
          @media (max-width: 992px) {
            width: 120%;
          }
        }
        p {
          position: absolute;
          transform: translate(70px, 261px);
          left: 0;
          top: 0;
          right: -100px;
          font-size: 11px;
          color: #666666;
          z-index: 1;
        }
      }

      .przebojowy {
        img {
          position: absolute;
          transform: translate(0px, -42px);
          right: 0;
          top: 0;
          @media (max-width: 992px) {
            width: 70%;
          }
        }
      }
    }

    .segment2 {
      .diament {
        height: 411px;
        img {
          position: absolute;
          transform: translate(14px, 92px);
          left: 0;
          top: 0;
          z-index: 1;
          @media (max-width: 992px) {
            width: 120%;
          }
        }
      }

      .diament2 {
        height: 411px;
        border: solid 6px #eeeeee;
        img {
          position: absolute;
          transform: translate(96px, 92px);
          left: 0;
          top: 0;
        }
        div {
          position: absolute;
          transform: translate(96px, 146px);
          left: 0;
          top: 0;
          right: 163px;
          font-size: 11px;
          color: #706f6f;
        }
      }
    }

    .segment3 {
      .perla1 {
        height: 411px;
        background-image: url("../img/nagrody/Tlo_seg3.png");
        img {
          position: absolute;
          transform: translate(69px, 112px);
          left: 0;
          top: 0;
        }
        p {
          position: absolute;
          transform: translate(69px, 246px);
          left: 0;
          top: 0;
          right: 94px;
          font-size: 11px;
          color: #706f6f;
        }
      }

      .perla2 {
        img:first-of-type {
          position: absolute;
          transform: translate(47px, -30px);
          left: 0;
          top: 0;
          z-index: 2;
          @media (max-width: 992px) {
            width: 50%;
          }
        }
        img:nth-child(2) {
          position: absolute;
          transform: translate(314px, 67px);
          left: 0;
          top: 0;
          z-index: 3;
          @media (max-width: 992px) {
            width: 45%;
            transform: translate(-19px, 67px);
            right: 0;
            left: auto;
          }
        }
      }
    }

    .segment4 {
      .jakosc1 {
        height: 411px;
        img {
          position: absolute;
          transform: translate(70px, 45px);
          left: 0;
          top: 0;
          z-index: 1;
          @media (max-width: 992px) {
            width: 100%;
          }
        }
      }

      .jakosc2 {
        height: 411px;
        background-image: url("../img/nagrody/Tlo_seg4.png");
        img {
          position: absolute;
          transform: translate(92px, 151px);
          left: 0;
          top: 0;
        }
        p {
          position: absolute;
          transform: translate(92px, 207px);
          left: 0;
          top: 0;
          right: 157px;
          font-size: 11px;
          color: #7d4835;
        }
      }
    }

    .segment5 {
      .paragon {
        height: 411px;
        border: solid 6px #eeeeee;
        img:first-of-type {
          position: absolute;
          transform: translate(-50%, 28px);
          left: 50%;
          top: 0;
        }
        img:nth-child(2) {
          position: absolute;
          transform: translate(69px, 245px);
          left: 0;
          top: 0;
          @media (max-width: 992px) {
            transform: translate(40px, 245px);
          }
        }
        p {
          position: absolute;
          transform: translate(69px, 340px);
          left: 0;
          top: 0;
          right: 98px;
          font-size: 11px;
          color: #706f6f;
          @media (max-width: 992px) {
            transform: translate(40px, 340px);
          }
        }
      }
    }

    /* --------------------KONIEC nagrody--------------------*/

    footer {
      height: 244px;

      .inner6 {
        margin-top: 3px;
        height: 100%;
        background-image: url("../img/stopka_tlo.png");

        .stopkaNav {
          position: absolute;
          transform: translate(121px, 78px);
          left: 0;
          top: 0;
          @media (max-width: 768px) {
            transform: translate(10%, 50%);
            width: 130%;
          }
          img {
            display: block;
            margin-bottom: 8px;
          }
        }

        .logoStopka {
          @media (max-width: 768px) {
            position: absolute;
            transform: translate(-50%, 170%);
            left: 50%;
            top: 0;
            margin: 0;
          }
        }

        .kontakt {
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 50%;
          @media (max-width: 768px) {
            transform: translate(10%, 50%);
            width: 120%;
            left: 0;
            top: 0;
          }
          @media (max-width: 400px) {
            transform: translate(-10%, 70%);
            width: 120%;
            left: 0;
            top: 0;
          }
          p {
            color: white;
            font-family: Verdana, sans-serif;
            font-size: 11px;
            margin: 0;
            @media (max-width: 400px) {
              font-size: 9px;
            }
          }
        }
      }
    }
  }
}